
:root {
  --footer-height: 70px;
  --el-color-primary: #6576db;
  --el-text-color-bulb: #facf55;
  --el-border-color-primary: #c7c7c7;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#app {
  width: 100%;
  height: 100%;
}

.flicker {
  display: inline-block;
  width: 4px;
  font-size: 1em;
  line-height: 1;
  background-color: #333;
  animation: flicker 1s steps(1, start) infinite;
}

@keyframes flicker {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}